<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container main">
                    <div class="columns">
                        <div class="column">
                            <h1 class="title is-1"><a href="/">{{ site.title }}</a></h1>
                            <h2 class="subtitle is-3">{{ site.subtitle }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            {{ content }}
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Made with <span style="color: #e25555;">&hearts;</span> by Juanjo Salvador
                </p>
            </div>
        </footer>
  </body>
</html>