<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
        <section class="hero is-info">
            <div class="hero-body">
                <div class="container main">
                    <div class="columns is-mobile">
                        <div class="column">
                            <h1 class="title is-1"><a href="/">{{ site.title }}</a></h1>
                            <h2 class="subtitle is-3">{{ site.subtitle }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column">
                        {{ content }}
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    &copy; {{ site.title }} by {{ site.author.name }}
                </p>
                <p>
                    Theme <a href="https://github.com/JuanjoSalvador/blue">Blue</a> made with <span style="color: #e25555;">&hearts;</span> by Juanjo Salvador
                </p>
            </div>
        </footer>
  </body>
</html>